[submodule "src/github.com/mailru/easyjson"]
	path = src/github.com/mailru/easyjson
	url = https://github.com/mailru/easyjson.git
[submodule "src/gopkg.in/olivere/elastic.v5"]
	path = src/gopkg.in/olivere/elastic.v5
	url = https://gopkg.in/olivere/elastic.v5
